<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--
    /**
     * @category     Inchoo
     * @package     Inchoo Featured Products
     * @author        Domagoj Potkoc, Inchoo Team <web@inchoo.net>
     * @modified    Mladen Lotar <mladen.lotar@surgeworks.com>, Vedran Subotic <vedran.subotic@surgeworks.com>
     */
    -->
    <modules>
        <Inchoo_FeaturedProducts>
            <version>1.2.3</version>
        </Inchoo_FeaturedProducts>
    </modules>

    <global>
        <blocks>
            <featuredproducts>
                <class>Inchoo_FeaturedProducts_Block</class>
            </featuredproducts>
        </blocks>

        <helpers>
            <featuredproducts>
                <class>Inchoo_FeaturedProducts_Helper</class>
            </featuredproducts>
        </helpers>

        <models>
            <featuredproducts>
                <class>Inchoo_FeaturedProducts_Model</class>
            </featuredproducts>
        </models>

        <resources>
            <featuredproducts_setup>
                <setup>
                    <module>Inchoo_FeaturedProducts</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredproducts_setup>

            <featuredproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredproducts_write>
            <featuredproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredproducts_read>
        </resources>
    </global>

    <frontend>
        <routers>
            <featuredproducts>
                <use>standard</use>
                <args>
                    <module>Inchoo_FeaturedProducts</module>
                    <frontName>featured-products</frontName>
                </args>
            </featuredproducts>
        </routers>
        <layout>
            <updates>
                <featuredproducts>
                    <file>inchoofeaturedproducts.xml</file>
                </featuredproducts>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <featuredproducts before="Mage_Adminhtml">Inchoo_FeaturedProducts_Adminhtml</featuredproducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <featuredproducts>
            <general>
                <heading>Featured Products</heading>
                <heading_block>Featured Products</heading_block>
                <meta_title>Featured Products</meta_title>
                <meta_description>Check out our great collection of Featured products</meta_description>
                <meta_keywords>featured, products</meta_keywords>
                <product_sort_by>random</product_sort_by>
                <number_of_items>5</number_of_items>
                <number_of_items_per_row>2</number_of_items_per_row>
                <layout>two_columns_right</layout>
            </general>
        </featuredproducts>
    </default>
</config>